* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #1f2151;
}

::-webkit-scrollbar-thumb {
  background-color: #2f3279;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100vh;
  padding: 1.25rem;
  gap: 3.12rem;

  background-image: url("./img/bg.png");
  background-size: cover;
  background-position: center;

  color: #f1f2f6;
}

main {
  overflow-y: hidden;
  width: 100%;
  max-width: 480px;

  border: 1px solid #2f3279;
  border-radius: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;

  padding: 3.5rem 4rem;
  background-color: #141534;
}

label {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;

  text-transform: uppercase;
  font-size: 0.75rem;
  color: #b2b8de;
}

input,
select {
  padding: 1.25rem 1rem;
  border: 1px solid #1f2151;
  border-radius: 0.5rem;
  outline: 0;

  background-color: #0e0f25;

  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #f1f2f6;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;

  background: url("./img/chevron-down.svg") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  background-color: #0e0f25;

  font-size: 1rem;
}

input::placeholder,
select:invalid,
option {
  color: #b2b8de;
}

input:focus,
select:focus {
  border: 1px solid #4a5dcd;
}

button {
  cursor: pointer;
  height: 3.25rem;

  margin-top: 3rem;

  border: none;
  border-radius: 0.5rem;
  outline: 0;
  background-color: #2f34ab;

  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #f1f2f6;

  transition: background-color 0.2s;
}

button:hover {
  background-color: #4a5dcd;
}

button:focus {
  outline: 1.5px solid #4a5dcd;
}

footer {
  overflow-y: scroll;
  display: none;
  text-align: center;

  max-height: 196px;
  padding: 2.5rem;

  background-color: #1f2151;
}

.show-result {
  display: block;
}

footer span {
  margin-bottom: 0.5rem;

  line-height: 1.25rem;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  color: #7d8dec;
}

footer h1 {
  word-break: break-all;
  line-height: 3rem;
  font-size: 2rem;
  font-weight: 700;
  color: #f1f2f6;
}
